body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inicio-reservas{
    margin-top: 100px;
}
.reservas-cuadro{
    margin-top: 30px;
    margin-bottom: 70px;
}
.index-body {
    background-color: #f4f4f4;
}

.contactanos-body {
    background-color: azure;
}

.servicios-body {
    background-color: #f4f4f4;
    text-align: center;
    color: #ab2f01;
}

.navbar-servicios {
    background-color: azure;
}

.navbar-contactanos {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
}

.span-nav {
    color: beige;
}

.nav-link {
    color: azure;
}

nav {
    color: #f4f4f4;
    background-color: #ab2f01;
    height: 90px;
}

.servicios-header {
    margin-top: 50px;
}

.h4-header {
    margin-top: 40px;
}

.navservicios,
.navcontactanos {
    list-style-type: none;
    /* height: px; */
    font-family: 'Lato';
    font-size: 200%;
    /* display: flex;
    align-items: center; */
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 10;
    margin: 5PX;
    letter-spacing: 1px;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


.navreservas {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #313131;

}

.aquireservas {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: beige;
}

.h5-reservas {
    text-align: center;
}

.navcontactanos {
    text-align: center;
}


.testimonios {
    color: #313131;
    border-color: #ab2f01;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 500px;
    margin-bottom: 180px;
    text-align: center;
}

.wanttoworkwithus {
    text-align: center;
    color: #f4f4f4;
    height: 300px;
    margin-bottom: 70px;
    background-color: #313131;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;

}

.text-wtwwu {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}

.nuestrahistoria {
    color: #f4f4f4;
    background-color: #ab2f01;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 15px;

}

.imagen-nh {
    width: 100%;
    opacity: 0.7;
}

.imagen-nuestra-historia {
    position: relative;
    display: inline-block;
    text-align: center;

}


.form {
    color: beige;
}

iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-foto {
    color: #f4f4f4;
    font-size: 300%;
    text-shadow: 5px 0px 5px 5px rgb(255, 255, 255);
}

.contact-form {
    background-color: #ab2f01;
    color: azure;
    margin-top: 70px;
    margin-bottom: 80px;
    text-align: center;
    padding: 30px;
    border-radius: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.6);
}

.button-form {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: beige;
    background-color: #ab2f01;
    border: none;
    border-radius: 7%;
}

.button-form:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
}

.texto-form {
    text-align: left;
}

.dato {

    color: beige;
    width: 100%;
    text-shadow: 1px 1px 2px black;
    height: 600px;
    box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.6);
    margin-top: 0px;

}

.texto-fondo {
    text-align: center;
    letter-spacing: 3px;
}

.quienessomos {
    background-color: #ab2f01;
    min-height: 300px;
    max-height: 350px;
    color: beige;
    box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.6);
    margin-top: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 0px;

}

.text-ne {
    text-align: center;
    margin-top: 200px;


}


.nuestroequipo {
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 200px;
    border-radius: 10px;


}

.boton-form {
    color: beige;
}

.button-modal {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #f4f4f4;
    background-color: #ab2f01;
    border: none;
    border-radius: 10px;
    margin: 6px;
    width: 15px;
}

.button-modal:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    padding: 13px;
    padding-left: 35px;
    padding-right: 35px;
}

.card-body {
    background-color: none;
    border-color: #ab2f01;
}



#card-servicios {

    border-color: #ab2f01;
    background-color: #f4f4f4;
    color: #ab2f01;
    margin-left: 60px;
    margin-left: 40px;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
    border-width: 1mm;
}

.container-servicios {
    padding-top: 40px;
    margin-bottom: 100px;
    padding-bottom: 90px;
    padding-left: 60px;
    padding-right: 60px;
}

.footer-body {
    background-color: #ab2f01;
    color: beige;
    height: 160px;
}

.footer {
    color: beige;
}

.redes {
    margin-top: 25px;
    padding-bottom: 15px;
    margin-right: 25px;
}

.boton-modificar, .boton-eliminar{
    border: none;
    background-color: #ab2f01;
    color: #f4f4f4;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.boton-eliminar:hover, .boton-modificar:hover{
    padding: 5px;
    color: #ab2f01;
    background-color: #f4f4f4;

}
.navbar-admin{
    background-color: #ab2f01;
    color:#f4f4f4 ;
}