 
 
 <ul class="nav bg-dark navreservas">
        <h4 style="color: #fff ;">¿Quieres ver tus reservas? Haz click</h4>
        <li class="nav-item">
          <a class="nav-link" href="/reservas">AQUI</a>
        </li>
      </ul>

 <div class="dato container-fluid">
        <!-- <img src="IMG/datofondo(1).png" style="height: 600px; width:2200px;bac" alt=""> -->
            <h2>EMPRESA N°1 DE ACTIVIDADES EXTREMAS A NIVEL NACIONAL</h2>
    </div>

    <div class="quienessomos container-fluid">
        <h4>Somos una empresa que se encarga de organizar actividades extremas en diversos lugares turisticos de
            Argentina.</h4>
    </div>

    <div class="nuestroequipo">
        <h2>Nuestro equipo</h2>
        <div class="row gy-3">
            <div class="Daniel Rodriguez col-4">
                <img src="images/pexels-andrea-piacquadio-3981554.jpg" style="height: 150px; width: 190px" alt="">
                <h4>Daniel Rodriguez</h4>
                <h6>Paracaidismo</h6>
            </div>
            <div class="Amelia Lopez col-4">
                <img src="/images/pexels-dominika-gregušová-1790186.jpg" style="height: 150px; width: 190px" alt="">
                <h4>Amelia Lopez</h4>
                <h6>Tracking</h6>
            </div>
            <div class="Azul Chaumeri col-4">
                <img src="images/pexels-elia-zanrosso-952343.jpg" style="height: 150px; width: 190px" alt="">
                <h4>Azul Chaumeri</h4>
                <h6>Ski</h6>
            </div>
            <div class="Santiago Torres col-4">
                <img src="images/pexels-enoch-patro-1802766.jpg" style="height: 150px; width: 190px" alt="">
                <h4>Santiago Torres</h4>
                <h6>Salto en bungee</h6>
            </div>
            <div class="Selene Mapri col-4">
                <img src="images/pexels-juliana-stein-2077375.jpg" style="height: 150px; width: 190px" alt="">
                <h4>Selene Mapri</h4>
                <h6>Tirolesa</h6>
            </div>
            <div class="Gustavo Maldonado col-4">
                <img src="images/pexels-justin-shaifer-1222271.jpg" style="height: 150px; width: 190px" alt="">
                <h4>Gustavo Maldonado</h4>
                <h6>Rafting</h6>
            </div>
        </div>
    </div>

    <div class="nuestrahistoria container-md bg-light">

        <h2>Nuestra Historia</h2>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deleniti laboriosam adipisci omnis magni
            aspernatur quidem esse, non fuga totam officiis hic fugit ipsa aliquid sapiente. Quaerat nesciunt enim eius.
        </h5>
        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi qui veniam aspernatur voluptate nemo omnis
            vero ut laboriosam alias praesentium voluptatibus sed asperiores illum nobis, cupiditate obcaecati.
            Assumenda, commodi nesciunt!</h5>
    </div>

    <div class="testimonios container-fluid bg-dark">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi mollitia fuga sunt cum qui aliquam,
            corrupti porro deserunt dolores maxime dolor eveniet, facilis, repellendus cupiditate ab perspiciatis!
            Dolore, quos repudiandae.</h3>
        <p>Alana Gutierrez</p>
    </div>

    <div class="wanttoworkwithus">
        <h2>Quieres trabajar con nosotros?</h2>
        <h5>Estamos buscando trabajadores dedicados que se quieran unir a nuestro queipo. Si estas interesado por favor
            manda tu CV a:</h5>
        <h3>info@bunshi.com</h3>
    </div>