<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunshi - Actividades extremas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/proyfinal.css">

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">

            <ul class="navservicios">
                <li class="nav-item">
                    <a class="nav-link" href="/servicios" aria-current="_blank">
                        <h6>Servicios</h6>
                    </a>
                </li>
            </ul>
            <span class="navbar-brand mb-0 h1"><a class="nav-link" href="/" aria-current="_blank">
                    <h3 class="text-center">BUNSHI.</h3>
                </a></span>
            <ul class="navcontactanos">
                <li class="nav-item">
                    <a class="nav-link" href="/contactanos" aria-current="_blank">
                        <h6>Contactanos</h6>
                    </a>
                </li>
            </ul>

        </div>
    </nav> 

     

    {{{body}}}
    
    <footer>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">
                    <H1>BUNSHI</H1>
                </span>
                <div class="redes">
                    <h6>FACEBOOK</h6>
                    <h6>INSTAGRAM</h6>
                    <h6>EMAIL</h6>
                    <h6>011 4587-6634</h6>
                </div>
            </div>
        </nav>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


  </body>
</html>
