<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUNSHI - Actividades extremas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="proyfinal.css">

</head>

<body class="servicios-body">
    <ul class="nav  navreservas">
        <h5 style="color: #fff ;" class="h5-reservas">¿Quieres ver tus reservas? Haz click</h5>
        <li class="nav-item">
            <a class="nav-link " href="/reservas">AQUI</a>
        </li>
    </ul>

    <div class="servicios ">
        <div class="servicios-header">
            <h1>SERVICIOS</h1>
            <h4 class="h4-header">Contamos con 6 servicios extraordinarios de diversas actividades extremas</h4>
        </div>
        <div class="container-lg  container-servicios">
            <div class="servicios-types row gy-5 " id="cards-servcios">
                <div class="col-6 overflow-hidden text-center">
                    <div class="card card-ser p-3" id="card-servicios" style="min-width: 15rem; max-width: 30rem;">
                        <img src="/images/paracaidas.jpg" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <h3 class="card-text">PARACAIDISMO</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#sanrafael">
                                <h6 class="card-text">San Rafael, Mendoza</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal" data-bs-target="#merlo">
                                <h6 class="card-text">Merlo, San Luis</h6>
                            </button>
                            <h3 class="card-text precio-card" style="margin-top: 20px;" >$1000</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 overflow-hidden text-center">
                    <div class="card card-ser p-3" id="card-servicios" style="min-width: 15rem; max-width: 30rem;">
                        <img src="/images/rafting.jpg" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <p class="card-text">
                            <h3 class="card-text">RAFTING</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-modal" data-bs-toggle="modal" data-bs-target="#merlo">
                                <h6 class="card-text">Merlo, San Luis</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#sanrafael">
                                <h6 class="card-text">San Rafael, Mendoza</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#bariloche">
                                <h6 class="card-text">Bariloche, Rio Negro</h6>
                            </button>
                            <h3 class="card-text" style="margin-top: 20px;">$1000</h3>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 overflow-hidden text-center">
                    <div class="card card-ser p-3" id="card-servicios" style="min-width: 15rem; max-width: 30rem;">
                        <img src="/images/salto-en-bungee.jpg" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <p class="card-text">
                            <h3 class="card-text">SALTO EN BUNGEE</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-modal" data-bs-toggle="modal" data-bs-target="#merlo">
                                <h6 class="card-text">Merlo, San Luis</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#sanrafael">
                                <h6 class="card-text">San Rafael, Mendoza</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#bariloche">
                                <h6 class="card-text">Bariloche, Rio Negro</h6>
                            </button>
                            <h3 class="card-text" style="margin-top: 20px;">$1000</h3>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 overflow-hidden text-center ">
                    <div class="card card-ser p-3" id="card-servicios" style="min-width: 15rem; max-width: 30rem;">
                        <img src="/images/skiing.jpg" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <p class="card-text">
                            <h3 class="card-text">SKIING</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#sanrafael">
                                <h6 class="card-text">San Rafael, Mendoza</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#bariloche">
                                <h6 class="card-text">Bariloche, Rio Negro</h6>
                            </button>
                            <h3 class="card-text" style="margin-top: 20px;">$1000</h3>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 overflow-hidden text-center">
                    <div class="card  card-ser p-3" id="card-servicios" style="min-width: 15rem; max-width: 30rem;">
                        <img src="/images/tirolesa.jpg" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <p class="card-text">
                            <h3 class="card-text">TIROLESA</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-modal" data-bs-toggle="modal" data-bs-target="#merlo">
                                <h6 class="card-text">Merlo, San Luis</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#sanrafael">
                                <h6 class="card-text">San Rafael, Mendoza</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#bariloche">
                                <h6 class="card-text">Bariloche, Rio Negro</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#peritomoreno">
                                <h6 class="card-text">Perito Moreno, Santa Cruz</h6>
                            </button>
                            <h3 class="card-text" style="margin-top: 20px;">$1000</h3>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 overflow-hidden text-center" style="border-color: beige;">
                    <div class="card card-ser p-3" id="card-servicios" style="min-width: 15rem; max-width: 30rem;">
                        <img src="/images/tracking (2).jpg" class="card-img-top" alt="...">
                        <div class="card-body row">
                            <p class="card-text">
                            <h3 class="card-text">TRACKING</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#sanrafael">
                                <h6 class="card-text">San Rafael, Mendoza</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#bariloche">
                                <h6 class="card-text">Bariloche, Rio Negro</h6>
                            </button>
                            <button type="button" class="button-modal" data-bs-toggle="modal"
                                data-bs-target="#peritomoreno">
                                <h6 class="card-text">Perito Moreno, Santa Cruz</h6>
                            </button>
                            <h3 class="card-text" style="margin-top: 20px;">$1000</h3>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="sanrafael" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">SUCURSAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body overflow-hidden">
                    <iframe class="overflow-hidden"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.513205451414!2d-68.35198539999998!3d-34.61646909999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96790819f500ed79%3A0x69a10af56b7da564!2sSan%20Juan%20Bosco%201586%2C%20M5600%20HGA%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1666492656752!5m2!1ses!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="merlo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">SUCURSAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body overflow-hidden">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4008.281690772854!2d-65.01813533827767!3d-32.350796125396805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d2e165a7228377%3A0x247528dcac38584b!2sMerlo%2C%20San%20Luis!5e0!3m2!1ses!2sar!4v1666541640574!5m2!1ses!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bariloche" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">SUCURSAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body overflow-hidden">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4633.966692001318!2d-71.30706604653827!3d-41.139858505965435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a7b1520c860e5%3A0x8210ae97cb7b9a65!2sSan%20Carlos%20de%20Bariloche%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses!2sar!4v1666541530444!5m2!1ses!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="peritomoreno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">SUCURSAL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body overflow-hidden">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.8246657669565!2d-70.93281866607215!3d-46.59070342591177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdecfa3458922161%3A0x7b138d56abad4d7d!2sParito%20Obrero%20Perito%20Moreno%2C%20Santa%20Cruz!5e0!3m2!1ses!2sar!4v1666541915824!5m2!1ses!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>