<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>

<body class="index-body" style="background-color: beige;">


    <ul class="nav bg-dark navreservas">
        <h4 style="color: #fff ;">¿Quieres reservar o ver tus reservas? Haz click</h4>
        <li class="nav-item">
            <a class="nav-link" href="/admin/login">AQUI</a>
        </li>
    </ul>

    {{!-- <div class="dato container-fluid">
        <img src="/images/datofondo\(1\).png" style="height: 600px; width:2200px;">
        <h1 class="texto-fondo" style="vertical-align: middle;">EMPRESA N°1 DE ACTIVIDADES EXTREMAS A NIVEL NACIONAL
        </h1>
    </div> --}}

    <div class="contenedor">
        <img src="/images/datofondo(1).png" alt="" style="width: 100%;">
        <div class="centrado">
            <h1 class="texto-foto">EMPRESA N°1 DE ACTIVIDADES EXTREMAS A NIVEL NACIONAL</h1>
        </div>
    </div>

    <div class="quienessomos container-fluid">
        <h1>Somos una empresa que se encarga de organizar actividades extremas en diversos lugares turisticos de
            Argentina.</h1>
    </div>

    <div class="container">
        <h2 class="text-ne">Nuestro equipo</h2>
        <div class="nuestroequipo">
            <div class="row gy-3 ">
                <div class="Daniel Rodriguez col-4">
                    <img src="/images/pexels-andrea-piacquadio-3981554.jpg" style="height: 80%; width: 80%; border-radius:10px;" alt="">
                    <h4>Daniel Rodriguez</h4>
                    <h6>Paracaidismo</h6>
                </div>
                <div class="Amelia Lopez col-4">
                    <img src="/images/pexels-dominika-gregušová-1790186.jpg" style="height: 80%; width: 80%; border-radius:10px;" alt="">
                    <h4>Amelia Lopez</h4>
                    <h6>Tracking</h6>
                </div>
                <div class="Azul Chaumeri col-4">
                    <img src="/images/pexels-elia-zanrosso-952343.jpg" style="height: 80%; width: 80%; border-radius:10px;" alt="">
                    <h4>Azul Chaumeri</h4>
                    <h6>Ski</h6>
                </div>
                <div class="Santiago Torres col-4">
                    <img src="/images/pexels-enoch-patro-1802766.jpg" style="height: 80%; width: 80%; border-radius:10px;" alt="">
                    <h4>Santiago Torres</h4>
                    <h6>Salto en bungee</h6>
                </div>
                <div class="Selene Mapri col-4">
                    <img src="/images/pexels-juliana-stein-2077375.jpg" style="height: 80%; width: 80%; border-radius:10px;" alt="">
                    <h4>Selene Mapri</h4>
                    <h6>Tirolesa</h6>
                </div>
                <div class="Gustavo Maldonado col-4">
                    <img src="/images/pexels-justin-shaifer-1222271.jpg" style="height: 80%; width: 80%; border-radius:10px;" alt="">
                    <h4>Gustavo Maldonado</h4>
                    <h6>Rafting</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="imagen-nuestra-historia">
        <img class="imagen-nh" src="/images/fondoski.jpg" alt="">
        <div class="nuestrahistoria container-md ">


            <h1>Nuestra Historia</h1>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deleniti laboriosam adipisci omnis
                magni
                aspernatur quidem esse, non fuga totam officiis hic fugit ipsa aliquid sapiente. Quaerat nesciunt enim
                eius.
            </h4>
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi qui veniam aspernatur voluptate nemo
                omnis
                vero ut laboriosam alias praesentium voluptatibus sed asperiores illum nobis, cupiditate obcaecati.
                Assumenda, commodi nesciunt!</h4>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deleniti laboriosam adipisci omnis
                magni
                aspernatur quidem esse, non fuga totam officiis hic fugit ipsa aliquid sapiente. Quaerat nesciunt enim
                eius.
            </h4>
            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi qui veniam aspernatur voluptate nemo
                omnis
                vero ut laboriosam alias praesentium voluptatibus sed asperiores illum nobis, cupiditate obcaecati.
                Assumenda, commodi nesciunt!</h4>
        </div>
    </div>

    <div class="testimonios container-md" style="border-color: #ab2f01;">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi mollitia fuga sunt cum qui aliquam,
            corrupti porro deserunt dolores maxime dolor eveniet, facilis, repellendus cupiditate ab perspiciatis!
            Dolore, quos repudiandae.</h3>
        <p>Alana Gutierrez</p>
    </div>
        

    <div class="wanttoworkwithus container-fluid row">
        <h2 style="margin-bottom:25px;">Quieres trabajar con nosotros?</h2>
        <h5 class="container" style="width: 450px;">Estamos buscando trabajadores dedicados que se quieran unir a nuestro equipo.
            Si estas interesado por favor
            manda tu CV a:</h5>
        <h3 style="color: #ab2f01; margin-top:25px;">info@bunshi.com</h3>
    </div>
</body>